<div class="d-flex flex-row justify-content-center  background" style="min-height: 130%;">
  <footer>
  <div class="  align-items-center card">
    <div style="width: 200px;">
      <div>
        <label class="form-label"><h3>Criar uma conta</h3></label>
      </div>
      <div class="mb-3  ">
        <select class="form-select form-select-lg pessoaEstilo" name="" id="" style="width: 33vh; height: 50px;">
          <option selected>Tipo de cadastro</option>
          <option value="">Pessoa Juridica</option>
          <option value="">Pessoa Física</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label "><h3>Nome</h3></label>
        <input class="form-control nomeEstilo" type="name" placeholder="Nome" style="width: 200px;">
      </div>
      <div class="mb-3">
        <label class="form-label"><h3>Data de Nascimento</h3></label>
        <input class="form-control dataNascEstilo" type="date" placeholder="Nome" style="width: 200px;">
      </div>
      <div class="mb-3">
        <label class="form-label"><h3>Login</h3></label>
        <input class="form-control emailEstilo" type="email" placeholder="email@example.com" style="width: 200px;">
      </div>
      <div class="mb-3">
        <label class="form-label"><h3>Senha</h3></label>
        <input class="form-control senhaEstilo" type="password" placeholder="Senha" style="width: 200px">
      </div>
      <div class="w-100">
        <a class="btn cadastrarEsilo w-100">Cadastrar</a>
        <a routerLink="/" class="">Esqueci a senha</a>
      </div>
    </div>
  </div>
</footer>
</div>
