::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.senhaEstilo{
  background-color: #243542;
  color: #EBEBEB;
  height: 45px;
  width: 200px;
}

.emailEstilo{
  background-color: #243542;
  color: #EBEBEB;
  height: 45px;
  width: 200px;
}

.entrarEstilo{
  background-color: #38B0FA;
  color: #162027;
  height: 45px;
  border-radius: 15px;
  margin-bottom: 10px;

}
.card{
  background-color: #EBEBEB;
  border: 2px solid rgb(167, 167, 167);
  border-radius: 50px;
  height: 65vh;
  width: 55vh;
}

.background{
  background-color: #d3d3d3;
}
