<div
  class="d-flex flex-row justify-content-center align-items-center background"
  style="min-height: 92%"
>
  <div
    class="d-flex flex-column align-items-center justify-content-center card"
  >
    <div style="width: 200px">
      <div class="mb-3">
        <label class="form-label"><h3>Email</h3></label>
        <input
          class="form-control emailEstilo"
          type="email"
          placeholder="email@example.com"
        />
      </div>
      <div class="mb-3">
        <label class="form-label"><h3>Senha</h3></label>
        <input
          class="form-control senhaEstilo"
          type="password"
          placeholder="password"
        />
      </div>
      <div class="mb-3">
        <label class="form-label"><h3>Novo Email</h3></label>
        <input
          class="form-control emailEstilo"
          type="email"
          placeholder="email@example.com"
        />
      </div>

      <div class="mb-3">
        <label class="form-label"><h3>Nova Senha</h3></label>
        <input
          class="form-control senhaEstilo"
          type="password"
          placeholder="password"
        />
      </div>
      <div class="w-100">
        <a class="btn entrarEstilo w-100">Editar</a>
      </div>
    </div>
  </div>
</div>
