::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.descricaoEstilo{
  background-color: #243542;
  color: #EBEBEB;
  height: 105px;
}

.bannerEstilo{
  background-color: #243542;
  color: #EBEBEB;
  height: 105px;
}

.emailEstilo{
  background-color: #243542;
  color: #EBEBEB;
  height: 45px;
}

.entrarEstilo{
  background-color: #38B0FA;
  color: #162027;
  height: 45px;
  border-radius: 15px;
  margin-bottom: 10px;

}
.card{
  background-color: #EBEBEB;
  border: 2px solid rgb(167, 167, 167);
  margin-top: 5vh;
  border-radius: 50px;
  height: 100vh;
  width: 65vh;
}

.background{
  background-color: #d3d3d3;
}
