<div
  class="d-flex flex-row justify-content-center align-items-center background"
  style="min-height: 92%"
>
  <div
    class="d-flex flex-column align-items-center justify-content-center card"
  >
    <div style="width: 200px">
      <div class="mb-3">
        <label class="form-label align-items-center"
          ><h3>Insira seu ponto turistico</h3></label
        >
      </div>
      <div class="mb-3">
        <label class="form-label"><h3>Descrição do Local</h3></label>
        <input
          class="form-control descricaoEstilo"
          type="text"
          placeholder=""
        />
      </div>

      <div class="mb-3">
        <label class="form-label"><h3>Coloque seu banner</h3></label>
        <input
          class="form-control bannerEstilo"
          type="file"
          placeholder="arquivo"
        />
      </div>
      <div class="w-100">
        <a class="btn CNPJEstilo w-100">Cadastrar</a>
      </div>
    </div>
  </div>
</div>
