::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.pessoaEstilo{
  background-color: #243542;
  color: #EBEBEB;
  width: 200px;
}


.nomeEstilo{
  background-color: #243542;
  color: #EBEBEB;
  width: 200px;
}

.dataNascEstilo{
  background-color: #243542;
  color: #EBEBEB;
  width: 200px;
}

.senhaEstilo{
  background-color: #243542;
  color: white;
  height: 45px;
  width: 200px;
}

.emailEstilo{
  background-color: #243542;
  color: #EBEBEB;
  height: 45px;
  width: 200px;
}

.cadastrarEsilo{
  background-color: #38B0FA;
  color: #162027;
  height: 45px;
  border-radius: 15px;
  margin-bottom: 10px;

}

.CNPJEstilo{

  background-color: #243542;
  color: #EBEBEB;
  width: 200px;

}

.razaosocialEstilo{
  background-color: #243542;
  color: white;
  height: 45px;
  width: 200px;
}

.CEPEstilo{
  background-color: #243542;
  color: white;
  height: 45px;
  width: 200px;
}

.numeroEstilo{
  background-color: #243542;
  color: white;
  height: 45px;
  width: 200px;
}

.logradouroEstilo{
  background-color: #243542;
  color: white;
  height: 45px;
  width: 200px;
}

.bairroEstilo{
  background-color: #243542;
  color: white;
  height: 45px;
  width: 200px;
}

.nomefantasiaEstilo{
  background-color: #243542;
  color: white;
  height: 45px;
  width: 200px;
}

.cidadeEstilo{
  background-color: #243542;
  color: white;
  height: 45px ;
  width: 90px ;
}

.UFEstilo{
  background-color: #243542;
  color: white;
  height: 45px ;
  width: 90px ;

}

.card{
  background-color: #EBEBEB;
  border: 2px solid rgb(167, 167, 167);
  border-radius: 50px;
  min-height: 0;
  min-width: 75vh;
  margin-top: 10vh;
}

.background{
  background-color: #d3d3d3;
}
