<div class="d-flex flex-column justify-content-start div-principal">
  <ngb-carousel style="height: 5vh">
    <ng-template ngbSlide *ngFor="let listaDeTurismos of listaDeListas">
      <div class="d-flex flex-row justify-content-around carroceu">
        <div *ngFor="let turismo of listaDeTurismos">
          <a routerLink="/saiba-mais/{{turismo.id_Turismo}}" class="carroceu-item">
            <div class="d-flex flex-column">
              <div style="width: 30vh">
                <div class="">
                  <img src="http://localhost:8080/turismo/conteudo/MostraImagem/{{turismo.imagem}}" class="carroceu-img" alt="" />
                  <h3>{{turismo.nomefantasia}}</h3>
                  <p>
                    {{turismo.descricao.substr(0, 50)}}
                  </p>
                  <a class="btn SaibaMais-background" routerLink="/saiba-mais/{{turismo.id_Turismo}}">Saiba mais</a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
