/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Montserrat;
  src: url(assets/fonts/Montserrat-VariableFont_wght.ttf) format("opentype");
}

.nav-background {
    background-color: #020C20;
}

.side-background{
  background-color: #243542;
}

*{
  font-family: Montserrat;
}

