<header class="d-flex flex-column justify-content-center nav-background" style="height: 100%;">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li>
            <a routerLink="/home" class="nav-link px-2 text-secondary">
              <img class="rounded-circle" src="../../../../assets/img/logo_turistae3.jpg" alt="logo" width="48px" *ngIf="hideLogo">
            </a>
          </li>
        </ul>
        <div class="text-end me-3">
          <a routerLink="/sign-in" type="button" class="btn me-2 btn-entrar" >Entrar</a>
          <a routerLink="/sign-up" type="button" class="btn btn-CriarConta">Criar Conta</a>
        </div>
      </div>
  </header>
